@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.overall{
    max-width: fit-content;
    max-height: fit-content;
    width: 100%;
}

img[alt=FYLO]{
    transform: scale(0.75,0.75);
}

#navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-weight: 400;
    margin-top: 1.5rem;
    padding: 0.5em;
}

ul>a{
    text-decoration: none;
    color: black;
    margin-inline: 1em;
}

ul>a:hover, ul>a:active{
    text-decoration: underline #3065fa 5px;
}

header{
    display: flex;
    margin-inline: auto;
    margin-top: 3em;
}

img[alt=illustration-1]{
    transform: scale(0.75,0.75);
    width: 100%;
    height: 100%;
}

#description{
    padding-top: 10.5em;
    padding-left: 2em;
    /* transform: scale(1.3, 1.3); */
    /* margin-left: 4em; */
}

.brief{
    width: 53ch;
    font-weight: 400;
}

h1{
    font-weight: 700;
}

#mail{
    margin-inline: 0em;
    margin-right: 1em;
    padding: 0.5em;
}

.button{
    height: 2.5em;
    width: 10em;
    background-color: hsl(224, 93%, 58%);
    border: 1px solid hsl(224, 93%, 58%);
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

img[alt=bg-curve]{
    width: 100%;
    height: 100%;
}

main{
    margin-inline: auto;
    margin-bottom: 0;
}

.img_container{
    height: 8em;
}

#mainsec{
    display: flex;
    background-color: #f9f8fe;
    margin: 0;
}

img[alt=illustration-2]{
    transform: scale(0.6,0.6);
    width: 100%;
}

.coin>a{
    color: hsl(170, 45%, 43%);
    text-decoration: none;
}

.coin{
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

h2{
    font-weight: 700;
}

.productive{
    padding-top: 10.5em;
    padding-inline: 2em;
}

#testimonial{
    width: 33ch;
    background-color: white;
    padding: 1em;
    box-shadow: 0.5em 0.5em 1em lightgray;
    margin: 0;
}

img[alt=CEO]{
    border-radius: 50%;
    width:30%;
}

.avatar{
    width: 100%;
    display: flex;
    gap: 0.5em;
}

.prod_img{
    padding-top: 5em;
}

#early{
    display: flex;
    background-color: hsl(238, 22%, 44%);
    color: white;
    padding: 2em;
    justify-content: space-between;
}

.access>p{
    width: 44ch;
}

#mail2{
    width: 50%;
    padding: 0.75em;
}

.inputs{
    width: 50%;
    padding-top: 2em;
}

.peel{
    background-color: #3065fa;
    padding: 1em;
    color: white;
    border: 1px solid #3065fa;
}

footer{
    background-color: hsl(243, 87%, 12%);
    padding: 3em;
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
}

#contact{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25%;
    color: white;
}

#contact>div{
    display: flex;
    gap: 1em;
    margin-left: 3em;
}

img[alt=well] {
    transform: scale(0.75,0.75);
    filter: invert();
}

#list1, #list2{
    display: flex;
    flex-direction: column;
    padding-top: 7.5em;
    gap: 1em;
}


#list1>a, #list2>a {
    text-decoration: none;
    color: white;
}

.social>i {
    color: white;
    font-size: 3em;
}

#social{
    display: flex;
    gap: 1em;
    padding-top: 7.5em;
}   

button:hover{
    background-color: white;
    color: #3065fa;
    border: 1px solid white;
    font-weight: bold;
    cursor: pointer;
}

#desc_img{
    /* transform: scale(0.75, 0.75); */
    margin-left: 10em;
}